FRONTEND_URL=http://localhost:3000
PORT=8080

RDB_HOST=
RDB_USER=
RDB_PASSWORD=
RDB_NAME=
DEFAULT_ICON_PATH=

GEMINI_API_KEY=
S3_ACCESS_KEY_ID=
S3_SECRET_ACCESS_KEY=
S3_BUCKET_NAME=
CDN_URL=image.tankalizer.jp

NEWS_POST_API_KEY=
OUR_ID=
NEWS_USER_ID=
NODE_ENV=
